.Navbar{
    height: 10vh;
    display: flex;
    padding-bottom: 8vh;
    border-bottom: 2px solid black;
    background: linear-gradient(135deg, #1737a3 0%, #3b82f6 50%, #1737a3 100%);
    position: relative;
}

h1{
    padding-top: 4vh;
}

.icon{
    width: 6vw;
    height: 11vh;
    margin-left: 69px;
    padding-left: 11px;
    padding-top: 3vh;
}

.icon:hover{
    cursor:pointer;
}
